@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;1,200&display=swap');

html {
	position: relative;
	min-height: 100%;
	background-color: #151515;
	text-align: right;
	padding: 0px;
	margin: 50px 50px;
	scroll-behavior: smooth;
}
header {
	margin: 100px 110px 0px;
	border-radius: 50px;
	padding: 0%;
}

body {
	text-align: justify;
	color: #c4c4c4;
}

article {
	margin: 35px 0px 0px 0px;
	font-size: 18px;
	padding: 25px;
}
#thumb {
	width: 25%;
	border-radius: 05%;
	margin-top: 04%;
	float: center;
}
hr {
	width: 50%;
	color: #24d35e;
	margin: 0% 0% 0% 5%;
}

h1 {
	font-family: "Noto Sans",sans-serif;
	font-size: 250%;
	color: #24d35e;
	margin: 0% 0% 1% -3.5%;
}

h2 {
	/*font-family: 'Roboto Mono', monospace;*/
	font-family: "Noto Serif",serif;
	font-size: 180%;
	color: #24d35e;
}
h3 {
	font-family: "Noto Serif",serif;
	color: #24d35e;
}

h4 {
	/*	font-family: 'Roboto Mono', monospace;;*/
	font-family: "Noto Serif",serif;
	font-size: 110%;
}
h5 {
	/*	font-family: 'Roboto Mono', monospace;*/
	font-family: "Noto Serif",serif;
	font-size: 150%;
	color: #24d35e;
}
footer {
	padding-top: 0px;
	margin: 0% 0% 0% 1%;
}
#ctt {
	padding-left: 18px;
	text-align: left;	
}
#gentoo {
	width: 50px;
}
button { 
	background-color: #4CAF50; /* Green */
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 10px;
	color: black;
}
a{
	color: #0066cc;
	font-family: 'Crimson Pro', serif;
	text-decoration: none; 
}
a:hover {
	color: #FFFFFF;
	background-color: #0066cc;
	text-decoration: underline;
}
#button-left {
	float: right;
}
.bsd1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#navbarul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}
nav {
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	margin: -8px;
}
nav a {
	color: #0066cc;
	float: right;
	padding: 10px 10px 13px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
nav li {
	text-align: left;
}

#main-content {
}

#link-to-main {
	position: absolute;
	transform: translateY(-10%);
	text-align: right;
}
main {
	padding: 0% 5%;
}
#util {
	width: 60%;
	padding: 1% 5% 10% 2%;
	border: 5px solid gray;
	margin: 10%;
}
#mint-logo {
	width: 50%;
	transform: translateY(-50%);
}
#tut {
	margin: 05%;
	width: 90%;
}
#caution {
	width: 60%;
	padding: 1% 5% 2% 2%;
	border: 5px solid red;
	margin: 10%;
}

#intro {
	transform: translateY(-5%);
}
#tabela {
	width: 10% 20%;
	padding: 0% 30% 1% 1%;
	border: 1px solid grey;
	margin: 4% 20%;
	transform: translateY(-5%);
	justify-content: center;
}
code {
	background-color: #363636;
	padding: 0% 1%;
}
#gpt {
	margin: 15% 0%;
	width: 40%;
}
#menu {
	transform: translateX(3%);
}
.image-grid {
	--gap: 16px;
	--num-cols: 2;
	--row-height: 300px;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}
.image-grid > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#postagem {
	border: 2px solid;
	padding: 10px;
	margin: 15px;
}
#postagem:hover {
	background-color: #202020;
}
#p-list {
	list-style-type: none;
}
#date {
	color: gray;
}
#site-title {
}
p {
    font-family: 'Crimson Pro', serif;
}
b{
	color: #B92C25;
}
